.card-item {
	width: 100%;
	display: flex;
	margin-bottom: 16px;
	a:hover .card-item-name {
		text-decoration: underline;
	}
	&-name {
		margin: 0;
	}
}

.loading {
	text-align: center;
	font-size: 18px;
}
.error {
	color: red;
	text-align: center;
}
