.form-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	height: 100%;
}

.form-inner {
	width: 500px;
	background: #fff;
	padding: 32px;
	border-radius: 10px;
	color: #333;
	box-shadow: 0 0 30px 0 hsl(0deg 0% 100% / 25%);
	border: 1px solid #ddd;
}

.buttons-container {
	display: flex;
	gap: 20px;
}

.input-container {
	margin-bottom: 16px;
}
.input {
	margin-top: 8px;
	background-color: #fff;
	color: #333;
}
