.card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
	margin-top: 48px;
}

.card-item {
	&-image {
		display: flex;
		overflow: hidden;
		border-radius: 50%;
		width: 200px;
		height: 200px;
	}
	&-name {
		margin-bottom: 0;
		color: #fff;
		text-align: center;
		width: 200px;
	}
	a:hover .card-item-name {
		text-decoration: underline;
	}
}

.loading {
	text-align: center;
	font-size: 18px;
}
.error {
	color: red;
	text-align: center;
}
