.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav {
	list-style: none;
	display: flex;
	gap: 90px;

	&-link {
		font-size: 21px;
		letter-spacing: 1.5px;
		&:hover {
			text-shadow: 2px 2px 3px #fff;
		}
	}
}
:global .active {
	text-shadow: 2px 2px 3px #bfde42;
}

.button-container {
	display: flex;
	gap: 24px;
}
