.main-wrapper {
	display: flex;
	gap: 50px;
	@media (max-width: 768px) {
		flex-direction: column;
		width: 100%;
	}

	.home-img {
		max-width: 40%;
		height: 100%;
		flex-shrink: 0;
		@media (max-width: 480px) {
			max-width: 100%;
		}
	}
}

.title {
	@media (max-width: 768px) {
		font-size: 22px;
	}
}
